section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.SectionH{
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;   
}
.home-content h1 span{
    color: var(--text-color);
}

.text-animated{
    position: relative;
    width: 32.8rem;
}
.text-animated h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;

}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    transition: .5s;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--bg-color);
    z-index: -1;
    border-radius: .8rem;
    transition: .5s;

}
.btn-box .btn:hover::before{
    width: 100%;
    color: var(--text-color);
}

.btn-box .btn:nth-child(2){
    background: var(--bg-color);
    color: var(--text-color);
}


.btn-box .btn:nth-child(2):hover{
    
    background: var(--main-color);
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box .btn:hover{
    color: var(--main-color);
}

.home-rs{
    position: absolute;
    bottom: -4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-rs a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-rs a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    
    z-index: -1;
    transition: .5s;
}

.home-rs a:hover::before{
    width: 100%;

}
.home-rs a:hover{

    color: var(--bg-color);
}
.Image-Achraf{
    position: absolute;
    top: 20%;
    right: 0;
    
    border: .2rem solid var(--bg-color);

    padding: 0 9%;
}

.Image-Achraf-size{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: .7rem solid var(--main-color);
}
.Image-Achraf-Hover{
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  
  transition: .3s;
}
.Image-Achraf-Hover:hover{
    background: var(--bg-color);
    opacity: .8;


}

@media screen and (max-width: 1122px) {
    .Image-Achraf-size{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        z-index: -1;
        opacity: .03;
        border: .7rem solid var(--main-color);
    }
    .Image-Achraf-Hover{
        display: none;
    }

    .btn-box{
        
    }
    
}